#node
.node_modules
/node_modules
node_modules/
node_modules

#build
build
./build
/build
build/

#env
env/
.env
env/.env

#OSX
.DS_Store

#logs
npm-debug.log
yarn-error.log
yarn.lock
*.jsbundle

#vscode
.vscode
/vscode
vscode/

#general
index.local*
package-lock.json
./prettierrc
.history


